 
  
  #header-nav {
    background-color: #989794;
    border-radius: 0;
    border: 0;
  }
  
  .navbar-brand {
    padding-top: 20px;
  }
  
  .navbar-brand h1 {
    color: #cee13f;
    margin-top: 0;
    line-height: 0.5;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
 
      
#text-h2{
    text-align: center;
}
#partOfText{
    padding: 10px;
}
#item-chicken{
    border: 3px;
    border-style: solid;
    margin: 10px
}
#text-chicken{
    border: 3px;
    border-top: none;
    border-right: none;
    text-align: center;
    ;
}
#navbarToggleExternalContent{
    float: right;
}
#nav-loc{
    float: right;
}

.items{
    border: 2px;
    border-style: solid;
    text-align: center;
    border-top:none ;
    border-right: none;
    border-left: none;
    font-size: large;
    margin: 10px;
    line-height: 3;
}
.items a:hover {
    background-color: white;
}

  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #000000;
    text-align: center;
  }
 
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #0a0a0a;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }